{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>
        html {
          font-family: sans-serif;
          /* 1 */
          -ms-text-size-adjust: 100%;
          /* 2 */
          -webkit-text-size-adjust: 100%;
          /* 2 */
        }
        .progress-indicator {
          position: fixed;
          top: 30px;
          right: 30px;
          width: 100px;
          height: 100px;
        }
        .progress-count {
          position: absolute;
          top: 1px;
          left: 2px;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 100px;
          color: #462066;
        }
        svg {
          position: absolute;
        }
        circle {
          fill: rgba(255, 255, 255, 0.9);
        }
        svg .animated-circle {
          fill: transparent;
          stroke-width: 40px;
          stroke: #462066;
          stroke-dasharray: 126;
          stroke-dashoffset: 126;
        }
        .progress-indicator-2 {
          position: fixed;
          top: 0;
          left: 0;
          height: 3px;
          background-color: #462066;
        }
        p {
          text-indent: 2em;
        }
        h1 {
          text-align: center;
          font-size: 2em;
            font-family: sans-serif;

        }
        .mycomment{
            display: flex;

            justify-content: center;
        }
        .lmybtn,.rmybtn{
            width: 130px;
            height: 70px;

        }
.lmybtn{
    margin-right: 40px;
}
.rmybtn{
    margin-left: 40px;
}
    .list-container {
        max-height: 85%; /* 设置容器的最大高度 */
        overflow: auto;    /* 添加滚动条，当内容超过容器高度时出现滚动条 */
        border: 1px solid #ccc; /* 添加边框样式 */
        padding: 10px; /* 添加内边距 */
    }

    </style>
{% endblock %}

{% block content %}
    <div class="progress-indicator">
      <svg>
        <g>
          <circle cx="0" cy="0" r="20" stroke="black" class="animated-circle" transform="translate(50,50) rotate(-90)"></circle>
        </g>
        <g>
          <circle cx="0" cy="0" r="38" transform="translate(50,50) rotate(-90)"></circle>
        </g>
      </svg>
      <div class="progress-count"></div>
    </div>


  <div class="container">
      <h1>{{ title }}</h1>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align: center">
            {{ content | safe}}
        </div>


    </div>
    <div class="mycomment">
        <input  data-id="{{article_id}}" id="btnPass" type="button" class="lmybtn btn btn-primary " onclick="showSwal('success-message')" value="通过审核">
{#        id="btnPass"#}
        <input  data-id="{{article_id}}" id="btnUnpass" type="button" class="rmybtn btn btn-primary"  onclick="showSwal2('fail-message')" value="不通过审核">

        </div>

  </div>

{% endblock %}

{% block js %}
    <script>

    judge()
    btnPass_click()
    btnUnpass_click()
    function judge(){
        var a={{article_status}}

        if(a===1||a===2)
        {
            $('#btnPass').prop('disabled', true)
        $('#btnUnpass').prop('disabled', true)
        }
    }
    function btnUnpass_click() {
            $('#btnUnpass').click(
                function () {
                    const id=$(this).data('id')
    $.ajax({
    url:'/manager/notagreed',
    type:'post',
    data:{
        id:id,
        csrfmiddlewaretoken:'{{ csrf_token }}'
    },
        success(msg){
       $('#btnPass').prop('disabled', true)
        $('#btnUnpass').prop('disabled', true)

    }
    })})}

    function btnPass_click() {
            $('#btnPass').click(
                function () {

                    const id=$(this).data('id')
    $.ajax({
    url:'/manager/agreed',
    type:'post',
    data:{
        id: id,
        csrfmiddlewaretoken:'{{ csrf_token }}'
    },
        success(msg){

       $('#btnPass').prop('disabled', true)
        $('#btnUnpass').prop('disabled', true)
    }
    })})}
$('document').ready(function(){


         (function() {
  var $w = $(window);
  var $circ = $('.animated-circle');
  var $progCount = $('.progress-count');

  var wh, h, sHeight;

  function setSizes() {
    wh = $w.height();
    h = $('body').height();
    sHeight = h - wh;
  }

  setSizes();

  $w.on('scroll', function() {
    var _top = $(window).scrollTop();
    $(window).scroll(function() {
      var _cur_top = $(window).scrollTop();
      if (_top < _cur_top) {
        _direction = 'down';
        var perc = Math.max(0, Math.min(1, $w.scrollTop() / sHeight));
        updateProgress(perc);
        console.log(perc.toFixed(2) * 100);
      }
      _top = _cur_top;

    });
  }).on('resize', function() {
    setSizes();
    $w.trigger('scroll');
  });


  function updateProgress(perc) {
    var circle_offset = 126 * perc;
    $circ.css({
      "stroke-dashoffset": 126 - circle_offset
    });
    $progCount.html(Math.round(perc * 100) + "%");

  }

}());


    });
    (function($) {
  showSwal = function(type) {

     if (type === 'success-message') {
         Swal.fire({
  title: '成功!',
  icon: 'success',
  confirmButtonText: 'ok'
        }).then(function() {
            window.location.href='/manager/manage';
         })
         }
    else{
        swal("Error occured !");
    }
  }

})(jQuery);
    (function($) {
  showSwal2 = function(type) {
     if (type === 'fail-message') {
      Swal.fire({
  title: '审核不通过!',
  icon: 'error',
  confirmButtonText: 'ok'
        }).then(function() {
            window.location.href='/manager/manage';
         })
         }
    else{
        swal("Error occured !");
    }
  }

})(jQuery);

    </script>
{% endblock %}