{% extends 'layout/basic.html' %}
{% load static %}
<title>管理页面</title>
{% block css %}
    <style>
@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
  background: #eee;
  font-family: Assistant, sans-serif;
}

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
}

thead {
  background: #dddcdc;
}
.rounded{
    width:980px;
}
.truncate {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 60px;
  max-width: 60px; /* 设置最大宽度 */
}
.truncate1 {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 150px;
  max-width: 150px; /* 设置最大宽度 */
}
    </style>

{% endblock %}

{% block content %}

<div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <input  id="btnFind" type="button" value="查看未审核文章" onclick="window.location.href='/manager/manage/review'">
                        <input  id="btnFindALL" type="button"  onclick="get_all()"  value="查看全部">
                        <table  class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">id</th>
                                    <th>文章名称</th>
                                    <th>文章类型</th>
                                    <th>文章状态</th>
                                    <th>上传时间</th>
                                    <th>作者</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="article" class="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a id="previous_page" class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="">3</a></li>
      <li class="page-item"><a class="page-link" href="">4</a></li>
      <li class="page-item"><a class="page-link" href="">5</a></li>
    <li class="page-item"><a id="next_page" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
        </div>


    </div>


{% endblock %}
{%block js %}
    <script>
    var page=2

    get_all()
    btnFind_click()
    $('#next_page').click(function(){
            page+=1;
            console.log(page)
            get_all();
})
    $('#previous_page').click(function(){
            page-=1;
            console.log(page)
            if(page<1)
        {page=1; alert('已经是第一页') }
        else get_all();

})


    function get_all(){
        $.ajax({
    url:'/manager/get_all',
    type:'get',
    data:{
       page
    },
     success(msg) {
        var element = document.getElementById("article");
                    element.innerHTML = "";
         var info=msg.info
         for (var i = 0; i<info.length; i++)

         {if(info[i][3]==='1')
             $('#article').append(
                `<tr class="cell-1">
                                    <td class="text-center truncate">${info[i][0]}</td>
                                    <td class="truncate1">${info[i][1]}</td>
                                    <td class="truncate">${info[i][2]}</td>
                                    <td class="truncate"><span class="badge badge-success">审核通过</span></td>
                                    <td class="truncate">${info[i][4]}</td>
                                    <td class="truncate">${info[i][5]}</td>
                                    <td class="truncate"><input   type="button"  onclick="window.location.href='/column/article?article_name=${info[i][1]}'"  value="查看原文"></td>
                                </tr>`)
                else if(info[i][3]==='2')
                    $('#article').append(
                `<tr class="cell-1">
                                    <td class="text-center truncate">${info[i][0]}</td>
                                    <td class="truncate1">${info[i][1]}</td>
                                    <td class="truncate">${info[i][2]}</td>
                                    <td class="truncate"><span class="badge badge-danger">审核不通过</span></td>
                                    <td class="truncate">${info[i][4]}</td>
                                    <td class="truncate">${info[i][5]}</td>
                      <td class="truncate"><input   type="button"  onclick="window.location.href='/column/article?article_name=${info[i][1]}'"  value="查看原文"></td>
                                </tr>`)
                else
                 $('#article').append(
                `<tr class="cell-1">
                                    <td class="text-center truncate">${info[i][0]}</td>
                                    <td class="truncate1">${info[i][1]}</td>
                                    <td class="truncate">${info[i][2]}</td>
                                    <td class="truncate"><span class="badge badge-info">待审核</span></td>
                                    <td class="truncate">${info[i][4]}</td>
                                    <td class="truncate">${info[i][5]}</td>
                                   <td class="truncate"><input   type="button"  onclick="window.location.href='/column/article?article_name=${info[i][1]}'"  value="查看原文"></td>
                             </tr>`)
         }

     }
     })


        }
function btnFind_click() {
    $('#btnFind').click(
        function () {
            $.ajax({
                url: '/manager/get_reviewing',
                type: 'get',
                data: {},
                success(msg) {
                    var element = document.getElementById("article");
                    element.innerHTML = "";
                    var info = msg.info
                    console.log('??')
                    console.log(info)
                    for (var i = 0; i < info.length; i++)
                        $('#article').append(
                            `<tr class="cell-1">
                                    <td class="text-center">${info[i][0]}</td>
                                    <td>${info[i][1]}</td>
                                    <td>${info[i][2]}</td>
                                    <td><span class="badge badge-info">待审核</span></td>
                                    <td>${info[i][4]}</td>
                                    <td>${info[i][5]}</td>
                                    <td><button onclick="window.location.href='/column/article?article_name=${info[i][1]}'">查看原文</td>
                                </tr>`)


                }

            })
})}

    </script>

{% endblock %}