{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;


}

{#body{#}
{#	background-color: #eee;#}

.modal-title{
	font-weight: bold;
}
h6{
	font-size: 	16px;
	font-weight: bold;
}


.mt-150{

     margin-top:150px;
}
.my{
    display: flex;

    flex-direction: column;
    text-align: center;
    background: green;
    width: 600px;
    height: 600px;
    border: 1px;


}
.mymain{
    flex-direction: column;
    align-items: center;

}
.container{
    margin-top: 20px;
}



    </style>
{% endblock %}
{% block content %}

    <div class="my">
    <h1>管理员招募</h1>
    <p>你想成为管理员吗？</p>






    </div>
    <div><input class="form-check-input" type="checkbox"   id="yesornot"  onclick="a()">我已阅读并同意以上规定</div>

<div class="container d-flex justify-content-center mt-150">
	<div class="row">
		<div class="col-xs-12">
				<!-- Button trigger modal -->
<button id="btnApply" type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
  申请
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <div class="modal-header pt-1 pl-2">
        <h5 class="modal-title" id="exampleModalLabel">Notification settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body">
     <div class="form-check pt-4">
  		<input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2">
  		<label class="form-check-label" for="exampleRadios2"><h6>发表文章数超过10篇</h6></label>
  		<p class="justify">很遗憾你没有达到这个要求</p>
	</div>

	<div class="form-check pt-4">
 		 <input class="form-check-input" type="radio" name="exampleRadios2"  id="exampleRadios2" value="option2" checked>
  		<label class="form-check-label" for="exampleRadios2"><h6>发表文章浏览量超过100次</h6></label>
		<p class="justify">很遗憾你没有达到这个要求</p>
	</div>

	<div class="form-check pt-4">
  		<input class="form-check-input" type="radio" name="exampleRadios3"  id="exampleRadios2" value="option2" checked >
  		<label class="form-check-label" for="exampleRadios2"><h6>没有申请过管理员</h6></label>
  		<p class="justify">很遗憾你没有达到这个要求</p>
	</div>

</div>

      <div class="modal-footer pt-4">
        <button type="button" class="btn btn-light mx-auto" style="width:45%" data-dismiss="modal">Cancel</button>
        <button id="confirm" type="button" class="btn btn-dark mx-auto" style="width:45%">确认申请</button>
      </div>
    </div>
  </div>
</div>

		</div>
	</div>
</div>
{% endblock %}
{% block js %}
    <script>

     a()
    btnApply_click()
function btnApply_click() {
            $('#btnApply').click(

                function () {
                    console.log('???')
    $.ajax({
    url:'/user/satisfy',
    type:'get',
    data:{
    },
    success(msg){
            console.log(msg.status)
        $('#confirm').prop('disabled', true)
        

    }
    })})}

function a(){
        console.log(document.getElementById("yesornot").checked)
    if (document.getElementById("yesornot").checked)
    $('#btnApply').prop('disabled', false)
    else $('#btnApply').prop('disabled', true)

}





    </script>
{% endblock %}
