{% extends 'layout/basic.html' %}
{% load static %}
<link rel="stylesheet" href="../../../static/plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block base %}
    <title>Detail</title>
{% endblock %}
{% block css %}
    <style>
        .card {
            margin-bottom: 5px;
            width: 1000px;
        }
        .card-body {
            margin: 10px 50px 10px 50px;
        }
    </style>
{% endblock %}
<body>
{% block content %}
    <div>
        <div style="height: 60px">
            <p>详情</p>
        </div>
{% for record in data %}
            <div class="card">
                <div class="card-body">
                    {{ record.n.name }}
                </div>
            </div>
        <div class="card">
                <div class="card-body">
                   价格：{{ record.n.price }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                 过程： {{ record.n.procedure }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                 风险： {{ record.n.risk }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                 禁忌人群： {{ record.n.unsuitable }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                   警告：{{ record.n.warning}}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                注意事项：{{ record.n.tip }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                  正常结果：{{ record.n.normal_range }}
                </div>
            </div>
<div class="card">
                <div class="card-body">
                  异常结果：{{ record.n.clinical_value }}
                </div>
            </div>



            </div>
        {% endfor %}

{#    <div class="card">#}
{#                <div class="card-body">#}
{#                    {{ data.n.name  }}#}
{#                </div>#}
{#            </div>#}

    </div>
{% endblock %}
</body>