{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>

body{
background-color: #eee;
}
.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
}
.container{
height: 100vh;
}
.dropdown-toggle_inner{
width: 200px;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
border: 2px solid #dc3545;
font-weight: 600;
}
.dropdown-toggle_inner:focus{

box-shadow: none !important;

}


.dropdown-toggle_inner::after {

display: none;

}

.dropdown-menu{

width: 200px;
border: 2px solid #F44336;
padding: 0rem 0;
transform: translate3d(0px, 50px, 0px) !important;

}

.dropdown-item:focus, .dropdown-item:hover {
color: #ffffff;
background-color: #dc3545;
padding: 12px;
}

.dropdown-item {
display: block;
width: 100%;
padding: 12px;

}
thead {
  background: #dddcdc;
}
.rounded{
    width:900px;
}
.truncate {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 60px;
  max-width: 60px; /* 设置最大宽度 */
}
.truncate1 {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 150px;
  max-width: 150px; /* 设置最大宽度 */
}
.truncate2 {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 80px;
  max-width: 80px; /* 设置最大宽度 */
}
    .list-container {
        max-height: 200px; /* 设置容器的最大高度 */
        overflow: auto;    /* 添加滚动条，当内容超过容器高度时出现滚动条 */
        border: 1px solid #ccc; /* 添加边框样式 */
        padding: 10px; /* 添加内边距 */
    }
    </style>
{% endblock %}

{% block content %}
<div class="row">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="table-responsive table-borderless">

                        <table  class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">id</th>
                                    <th>检查名</th>
                                    <th>所属科室</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="diagnose" class="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                    <li class="page-item"><a id="previous_page" class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a id="page1" class="page-link" href="#">1</a></li>
                    <li class="page-item"><a id="page2" class="page-link" href="#">2</a></li>
                    <li class="page-item"><a id="page3" class="page-link" href="#">3</a></li>
                    <li class="page-item"><a id="page4" class="page-link" href="#">4</a></li>
                    <li class="page-item"><a id="page5" class="page-link" href="#">5</a></li>
                    <li class="page-item"><a id="next_page" class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
<div class="dropdown">
    <button class="btn btn-outline-danger dropdown-toggle_inner" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        <span id="now_department">全部</span>
        <i class="fa fa-caret-down"></i>
    </button>
    <ul id="department" class="dropdown-menu  list-container" aria-labelledby="dropdownMenuButton">
<li><a class="dropdown-item" id="search_department" data-id="全部" href="#">全部</a ></li>
    </ul>
</div>



{% endblock %}
{% block js %}

   <script>


    var last=0

    $('#next_page').click(function(){
            page+=1;
            if(last===1)
        {page-=1; alert('已经是最后一页') }
        else {
            const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else
            get_select_all(department_name,page);}

})
    $('#previous_page').click(function(){
            page-=1;
            console.log(page)
            if(page<1)
        {page=1; alert('已经是第一页') }
        else {
               const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
            }

})
$('#page1').click(function(){
            page=1;
            const department_name=$('#now_department').text()
    console.log(department_name)

if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
})
    $('#page2').click(function(){
            page=2;
           const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
})
    $('#page3').click(function(){
            page=3;
            const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
})
    $('#page4').click(function(){
            page=4;
           const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
})
    $('#page5').click(function(){
            page=5;
            const department_name=$('#now_department').text()
if(department_name==="全部") get_all(page);
else get_select_all(department_name,page);
})

get_all(1)
     get_department()
    function get_all(page){
         $.ajax({
    url:'/medical_info/get_diagnose_info',
    type:'get',
             data:{
        'page':page,
             },
        success(data){
var element = document.getElementById("diagnose");
                    element.innerHTML = "";
 for (var i = 0; i < data.length; i++) {
$('#diagnose').append(`
<tr class="cell-1">
      <td class="truncate text-center">${data[i].id}</td>
        <td class="truncate">${data[i].n.name}</td>
      <td class="truncate">${data[i].department_name}</td>
<td class="truncate2">
<a><input class="btn btn-primary" type="button"  value="查看详细信息" onclick="window.location.href='/medical_info/diagnose_detail?check=${data[i].n.name}'"></a></td>
 </tr>
`)
     if(data.length<10)
             last=1
         else last=0
            }
    }
    })}

   function get_select_all(department,page){
        $.ajax({
    url:'/medical_info/get_diagnose_info',
    type:'get',
            data:{
        'page':page,
        'department':department,
            },
        success(data){
        var element = document.getElementById("diagnose");
                    element.innerHTML = "";
 for (var i = 0; i < data.length; i++) {
$('#diagnose').append(`
                   <tr class="cell-1">
      <td class="text-center truncate">${data[i].id}</td>
        <td class="truncate">${data[i].n.name}</td>
      <td class="truncate">${$('#now_department').text()}</td>
<td class="truncate2"><input  class="btn btn-primary" type="button"  onclick="window.location.href='/medical_info/diagnose_detail?check=${data[i].n.name}'"  value="查看详细信息"></td>
 </tr>
`)
     if(data.length<10)
             last=1
         else last=0
            }
    }
    })
   }
function get_department(){
             $.ajax({
    url:'/medical_info/get_department3',
    type:'get',
            data:{

            },
        success(data){
 for (var i = 0; i < data.length; i++) {
$('#department').append(`
             <li><a class="dropdown-item" id="search_department" data-id="${data[i].name}" href="#">${data[i].name}</a ></li>
`)
            }
    }
    })
}
 $('#department').on('click', '#search_department', function() {
            console.log('点击了按钮');
            const department_name=$(this).data('id')
                 $('#now_department').text(department_name);
if(department_name==="全部") {console.log('??')
    get_all(page);}
else
            get_select_all(department_name,page);


            })



    </script>
{% endblock %}