{% extends 'layout/basic.html' %}
{% load static %}
<link rel="stylesheet" href="../../../static/plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block base %}
    <title>Detail</title>
{% endblock %}
{% block css %}
    <style>
        .card {
            margin-bottom: 5px;
            width: 1000px;
        }
        .card-body {
            margin: 10px 50px 10px 50px;
        }
    </style>
{% endblock %}
<body>
{% block content %}
    <div>
        <div style="height: 60px">
            <p>详情</p>
        </div>
{% for record in data %}
            <div class="card">
                <div class="card-body">
                    {{ record.n.name }}
                </div>
            </div>
        <div class="card">
                <div class="card-body">
                   介绍：{{ record.n.introduction }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                 原因： {{ record.n.reason }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                 症状： {{ record.n.reason }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                   预防：{{ record.n.prevention }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                  检查：{{ record.n.examine }}
                </div>
            </div>
<div class="card">
                <div class="card-body">
                  治疗：{{ record.n.treatment }}
                </div>
            </div>
    <div class="card">
                <div class="card-body">
                  易感人群：{{ record.n.easy_person }}
                </div>
            </div>


            </div>
        {% endfor %}

{#    <div class="card">#}
{#                <div class="card-body">#}
{#                    {{ data.n.name  }}#}
{#                </div>#}
{#            </div>#}

    </div>
{% endblock %}
</body>