{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>

body{
background-color: #eee;
}
.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
}
.container{
height: 100vh;
}
.dropdown-toggle_inner{
width: 200px;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
border: 2px solid #dc3545;
font-weight: 600;
}
.dropdown-toggle_inner:focus{

box-shadow: none !important;

}


.dropdown-toggle_inner::after {

display: none;

}

.dropdown-menu{

width: 200px;
border: 2px solid #F44336;
padding: 0rem 0;
transform: translate3d(0px, 50px, 0px) !important;

}

.dropdown-item:focus, .dropdown-item:hover {
color: #ffffff;
background-color: #dc3545;
padding: 12px;
}

.dropdown-item {
display: block;
width: 100%;
padding: 12px;

}
thead {
  background: #dddcdc;
}
.rounded{
    width:900px;
}
.truncate {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 60px;
  max-width: 60px; /* 设置最大宽度 */
}
.truncate1 {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 150px;
  max-width: 150px; /* 设置最大宽度 */
}
.truncate2 {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
    min-width: 80px;
  max-width: 80px; /* 设置最大宽度 */
}
.my_input{
        width:830px;
    }
    .search_div{
        display: flex;
        flex-direction: row;
    }

    </style>
{% endblock %}

{% block content %}
<div class="row">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="search_div">
                    <input id="search_content_input" type="text" class="form-control form-input my_input" placeholder="请输入药物名">
                        <input id="search_info" type="button" class="btn btn-primary" value="搜索">

                        </div>
                    <div class="table-responsive table-borderless">

                        <table  class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">id</th>
                                    <th>疾病</th>
                                    <th>对应药物</th>
                                     <th></th>
                                </tr>
                            </thead>
                            <tbody id="drug" class="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                    <li class="page-item"><a id="previous_page" class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a id="page1" class="page-link" href="#">1</a></li>
                    <li class="page-item"><a id="page2" class="page-link" href="#">2</a></li>
                    <li class="page-item"><a id="page3" class="page-link" href="#">3</a></li>
                    <li class="page-item"><a id="page4" class="page-link" href="#">4</a></li>
                    <li class="page-item"><a id="page5" class="page-link" href="#">5</a></li>
                    <li class="page-item"><a id="next_page" class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>

{% endblock %}
{% block js %}

    <script>
     var page=1
    var last=0
{##有点bug需要修复#}
    $('#next_page').click(function(){
            page+=1;
            if(last===1)
        {page-=1; alert('已经是最后一页') }
        get_all(page);

})
    $('#previous_page').click(function(){

            if(page<1)
        {page=1; alert('已经是第一页') }
        else get_all(page);


})
$('#page1').click(function(){
            page=1
    get_all(page)
})
    $('#page2').click(function(){
            page=2;
        get_all(page);

})
    $('#page3').click(function(){
            page=3;
 get_all(page)

})
    $('#page4').click(function(){
            page=4;
        get_all(page)

})
    $('#page5').click(function(){
            page=5;
        get_all(page)
})
    get_all(1)
   function get_all(page){
         $.ajax({
    url:'/medical_info/get_drug_info',
    type:'get',
             data:{
        'page':page,
             },
        success(data){
var element = document.getElementById("drug");
                    element.innerHTML = "";
 for (var i = 0; i < data.length; i++) {
$('#drug').append(`
<tr class="cell-1">
      <td class="truncate text-center">${data[i].id}</td>
        <td class="truncate">${data[i].disease_name}</td>
<td class="truncate">${data[i].d.name}</td>
<td class="truncate2">
<input   class="btn btn-primary" type="button" onclick="window.location.href='/medical_info/drug_detail?item=${data[i].d.name}'" value="查看详细信息" >
</td>
 </tr>
`)
     if(data.length<10)
             last=1
         else last=0
            }
    }
    })}
search_info_click()
function search_info_click() {
    $('#search_info').click(function () {

console.log('ss')
            $.ajax({
                url: '/medical_info/search_drug',
                data: {
                    'drug':$("#search_content_input").val(),
                },
                type: 'get',
                success(data){
        var element = document.getElementById("drug");
                    element.innerHTML = "";
 for (var i = 0; i < data.length; i++) {
$('#drug').append(`
  <tr class="cell-1">
      <td class="truncate text-center">${data[i].id}</td>
        <td class="truncate">${data[i].disease_name}</td>
<td class="truncate">${data[i].d.name}</td>
<td class="truncate2">
<input   class="btn btn-primary" type="button" onclick="window.location.href='/medical_info/drug_detail?item=${data[i].d.name}'" value="查看详细信息" >
</td>
 </tr>
`)
     if(data.length<10)
             last=1
         else last=0
            }}
            })
            // button.classList.toggle('active');

    })
}

    </script>
{% endblock %}