{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{

            background-color: #f8f8f8;
        }
        .container{
            margin-top: 20px;
            padding: 40px 20px;
        }
        .box{
            padding: 40px 30px;
            transition: all .4s ease-in-out;
            cursor: pointer;
        }
        .box:hover{
            box-shadow: 2px 2px 10px #a5a5a5;
            transform: scale(1.03);
        }
        a:hover{
            text-decoration: none;
        }
        img{
            object-fit: contain;
            width: 35px;
            height: 35px;
            /* padding: 20px; */
        }
        p.text-muted{
            margin: 0;
            font-size: 0.9rem;
        }
        b{
            font-size: 1.12rem;
        }

    </style>
{% endblock %}

{% block content %}

{#<div class="h-screen bg-blue-300 flex justify-center items-center">#}
{#    <div class="container mx-auto">#}
{#        <div class="max-w-sm mx-auto md:max-w-lg">#}
{#            <div class="w-full">#}
{#                <ul id="symptom" class="px-0">#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{% endblock %}
{% block js %}

    <script>
{#    get_all()#}
{#    function get_all(){#}
{#         $.ajax({#}
{#    url:'/medical_info/get_symptom_info',#}
{#    type:'get',#}
{#        success(data){#}
{##}
{# for (var i = 0; i < data.length; i++) {#}
{#$('#symptom').append(`#}
{#                    <li class="border bg-white list-none rounded-sm px-3 py-3 cursor-pointer hover:text-white hover:bg-blue-600" style='border-bottom-width:0'>${data[i].name}</li>#}
{##}
{#`)#}
{#            }#}
{#    }#}
{#    })}#}




    </script>
{% endblock %}