{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>
        body{
            background-color: #f8f8f8;
        }

        .card{
            border:none;
            background-color:#252836;
            color:#fff;
            border-radius:12px;

        }

        .user-timing{

            right:9px;
            bottom:9px;
            color:#fff;
        }
        
        .views-content{
            color:#606271;
        }

        .views{
            font-size:12px;

        }

        .dots{
            display:flex;
            height:10px;
            width:10px;
            background-color:green;
            border-radius:50%;
            margin-left:5px;
            margin-bottom:6px;
        }
        .days-ago{
                margin-top: -10px;
            color: #606271;
        }

        .snipimage img{
            height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
    <button class="card p-3" style="width: 100%; border: None" onclick="window.location.href='article'">
        <div class="row" style="width: 100%;">
            <div class="col-md-4">
                <div class="position-relative snipimage">
                    <img src="{% static 'images/column/article/otQTFTp.jpg'%}" class="rounded img-fluid w-100 img-responsive">
                    <span class="position-absolute user-timing">1 min</span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mt-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-1">How to do basic jumping </h5>
                    <span><i class="fa fa-heart text-danger"></i> </span>
                  </div>
                  <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
                      <div class="d-flex flex-row align-items-center">
                          <i class="fa fa-eye"></i>
                          <span class="ms-1 views">453674</span>
                      </div>
                      <div class="d-flex flex-row align-items-center ms-2">
                          <i class="fa fa-heart"></i>
                          <span class="ms-1 views">4565</span>
                      </div>
                  </div>
                  <div class="d-flex flex-row mt-3">
                      <img src="https://i.imgur.com/rvQ3LAt.jpg" width="50" class="rounded-circle" alt="头像">
                      <div class="ms-2 d-flex flex-column">
                         <div class="d-flex flex-row align-items-center">
                              <h6>Thomas Hope</h6>
                          <span class="dots"></span>
                         </div>
                         <span class="days-ago">2 days ago</span>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </button>
</div>
{% endblock %}