{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="form">
        <form action="" method="get">
            <i class="fa fa-search"></i>
            <input id="content" type="text" class="form-control form-input" placeholder="请输入文章名">
            <input type="submit" value="搜索">
        </form>
        <div id="tips" style="display: none; width: 200px; height: 200px; border: gray solid 1px;"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function(){
            $("#content").keyup(function (){
                {#console.log('gghg')#}
                $.ajax({
                    url: '/column/search_tip/',
                    type: 'post',
                    dataType: 'text',
                    data: {'kw':this.value,
                        csrfmiddlewaretoken:'{{ csrf_token }}'
                    },
                    success(msg){
                        console.log(msg)
                    },
                    error: function (){
                        alert('failed!')
                    }
                })
            })
        });
    </script>
{% endblock %}