{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <form method="POST" class="form-horizontal" role="form" action="" >
        {% csrf_token %}
        {{ form.media }}
        {{ form }}
        <button type="submit" style="background-color: #318FB5; border: None;">提交</button>
    </form>
    </div>
    <div class="col-md-1"></div>

{% endblock %}

{% block js %}
    <script>

    </script>
{% endblock %}